# Ignore bundler config.
/.bundle

# Ignore bundler local installs
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.log

# Ignore Byebug command history file.
.byebug_history

/.git/*

/Gemfile.lock

/.idea/*

/public/uploads/*

# FUCKING MAC
.DS_Store

# Ignore vagrant
/.vagrant

# Ignore rbenv
.ruby-version

*~

# Ignore dotenv
.env

# Coverage
/coverage/

# Ignore secret-y stuff.
/config/database.yml
/config/secrets.yml
package.json
