/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset "UTF-8";
/* ========================================================================= */
/*                            CSS RESET / NORMALIZE                          */
/*                          taken from Normalize.css                         */
/*           see the partials/_reset.scss file, it's easier to read.         */
/* ========================================================================= */
html {
  font-family: sans-serif;
  /* line-height: 1.15; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/* ========================================================================= */
/*                             COLORS AND SHIT                               */
/*           see the partials/_colors.scss file, it's easier to read.        */
/* ========================================================================= */
body.red input:focus, body.red select:focus,
body.red textarea:focus, .bg_red {
  background-color: #d99; }

body.orange input:focus, body.orange select:focus,
body.orange textarea:focus, .bg_orange {
  background-color: #f6d498; }

body.yellow input:focus, body.yellow select:focus,
body.yellow textarea:focus, .bg_yellow {
  background-color: #dd9; }

body.green input:focus, body.green select:focus,
body.green textarea:focus, .bg_green {
  background-color: #9d9; }

body.blue input:focus, body.blue select:focus,
body.blue textarea:focus, .bg_blue {
  background-color: #9dd; }

body.pink input:focus, body.pink select:focus,
body.pink textarea:focus, .bg_pink {
  background-color: #e9e; }

body.grey input:focus, body.grey select:focus,
body.grey textarea:focus, .bg_grey {
  background-color: #eee; }

a.pass, a.green, label.green, input.button.pass, input.pass.round-button {
  color: #050;
  background-color: rgba(51, 204, 51, 0.4); }
  a.pass:hover, a.pass:focus, a.green:hover, a.green:focus, label.green:hover, label.green:focus, input.button.pass:hover, input.pass.round-button:hover, input.button.pass:focus, input.pass.round-button:focus {
    color: #050;
    background-color: #33cc33; }

input.pass[readonly], input.green[readonly], select.pass[readonly] {
  color: #030 !important; }

a.fail, a.red, label.red, input.button.fail, input.fail.round-button {
  color: #500;
  background-color: rgba(204, 51, 51, 0.4); }
  a.fail:hover, a.fail:focus, a.red:hover, a.red:focus, label.red:hover, label.red:focus, input.button.fail:hover, input.fail.round-button:hover, input.button.fail:focus, input.fail.round-button:focus {
    color: #500;
    background-color: #cc3333; }

a.alert, a.orange, label.orange, input.alert {
  color: #520;
  background-color: rgba(238, 170, 51, 0.4); }
  a.alert:hover, a.alert:focus, a.orange:hover, a.orange:focus, label.orange:hover, label.orange:focus, input.alert:hover, input.alert:focus {
    color: #520;
    background-color: #eeaa33; }

a.pending, a.yellow, label.yellow, input.pending {
  color: #550;
  background-color: rgba(204, 204, 51, 0.4); }
  a.pending:hover, a.pending:focus, a.yellow:hover, a.yellow:focus, label.yellow:hover, label.yellow:focus, input.pending:hover, input.pending:focus {
    color: #550;
    background-color: #cc3333; }

a.idle, a.blue, label.blue, input.idle {
  color: #055;
  background-color: rgba(51, 204, 204, 0.4); }
  a.idle:hover, a.idle:focus, a.blue:hover, a.blue:focus, label.blue:hover, label.blue:focus, input.idle:hover, input.idle:focus {
    color: #055;
    background-color: #33cccc; }

a.match, a.pink, label.pink, input.match {
  color: #505;
  background-color: rgba(221, 51, 221, 0.4); }
  a.match:hover, a.match:focus, a.pink:hover, a.pink:focus, label.pink:hover, label.pink:focus, input.match:hover, input.match:focus {
    color: #505;
    background-color: #dd33dd; }

a.unknown, a.grey, label.grey, input.grey {
  color: #555;
  background-color: rgba(204, 51, 51, 0.4); }
  a.unknown:hover, a.unknown:focus, a.grey:hover, a.grey:focus, label.grey:hover, label.grey:focus, input.grey:hover, input.grey:focus {
    color: #555;
    background-color: #dddddd; }

.nav_grey, .nav_grey:hover, .nav_grey_l:hover,
.notify.grey:hover {
  background-color: #ccc;
  color: #555; }

.nav_green, .nav_green:hover, .nav_green_l:hover,
.notify.green:hover {
  background-color: #3c3;
  color: #050; }

.nav_red, .nav_red:hover, .nav_red_l:hover,
.notify.red:hover {
  background-color: #c33;
  color: #500; }

.nav_pink, .nav_pink:hover, .nav_pink_l:hover,
.notify.pink:hover {
  background-color: #d3d;
  color: #505; }

.nav_orange, .nav_orange:hover, .nav_orange_l:hover,
.notify.orange:hover {
  background-color: #ea3;
  color: #520; }

.nav_blue, .nav_blue:hover, .nav_blue_l:hover,
.notify.blue:hover {
  background-color: #3cc;
  color: #055; }

.nav_yellow, .nav_yellow:hover, .nav_yellow_l:hover,
.notify.yellow:hover {
  background-color: #cc3;
  color: #550; }

.nav_grey_l, .notify.grey {
  background-color: #eee;
  color: #777; }

.nav_green_l, .notify.green {
  background-color: #66ff66;
  color: #008800; }

.nav_red_l, .notify.red {
  background-color: #ff6666;
  color: #880000; }

.nav_pink_l, .notify.pink {
  background-color: #ff77ff;
  color: #880088; }

.nav_orange_l, .notify.orange {
  background-color: #ffd488;
  color: #883600; }

.nav_blue_l, .notify.blue {
  background-color: #66ffff;
  color: #008888; }

.nav_yellow_l, .notify.yellow {
  background-color: #ffff66;
  color: #888800; }

/* ========================================================================= */
/*                           MAIN FILE STARTS HERE                           */
/*                  see the main.scss file, it's easier to read.             */
/* ========================================================================= */
nav ul {
  padding: 0;
  margin: 0; }

footer #foot_links > span + span:before {
  content: " | "; }

main #path > span + span:before {
  content: " > "; }

input, select, textarea {
  padding: 5px;
  text-decoration: none;
  font-size: 1em;
  font-family: "Noto Sans", sans-serif; }

input, form div input, form div select, form div textarea, .form div input, .form div select, .form div textarea {
  display: block;
  margin-top: 5px;
  max-width: 98%;
  color: #666;
  background-color: #eee;
  border: none; }

body {
  font-family: "Noto Sans", sans-serif;
  overflow-y: scroll;
  background-color: #efefef; }

main {
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: visible;
  background-color: #fefefe;
  padding-bottom: 10px;
  padding-top: 2px;
  margin-top: -5px; }
  main #quick_links {
    float: right;
    margin-right: 10px;
    font-size: 0.75em; }
  main #path {
    color: #ccc;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 0.8em; }
  main #content {
    margin: 10px;
    color: #333; }

header {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); }
  header .lang_sel {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    header .lang_sel #lang_sel_flag {
      vertical-align: middle;
      margin-right: 5px; }
    header .lang_sel a {
      padding: 5px;
      text-decoration: none;
      font-size: 1em; }
    header .lang_sel span {
      margin: 5px; }
  header .head {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-left: none;
    border-right: none;
    margin-top: -2px;
    margin-bottom: 10px; }
    header .head #head_conscript {
      color: inherit;
      text-decoration: none;
      border: none;
      font-size: 1.8em;
      text-shadow: 1px 1px #ccc;
      font-weight: bold; }
    header .head #head_conscript_name, header .head #head_conscript_name > a {
      opacity: 0.8;
      color: #333;
      border: none;
      vertical-align: bottom; }
  header .head_under {
    font-size: 0.8em;
    padding-left: 10px; }

.header_btn_home a, .header_btn_lang a {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.4);
  display: block;
  position: fixed;
  top: 0;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  outline: none;
  border: none;
  opacity: 0; }
.is_shown.header_btn_home a, .is_shown.header_btn_lang a {
  opacity: 1; }

.header_btn_home a {
  font-size: large;
  color: #555;
  left: 0; }

.header_btn_lang a {
  font-size: medium;
  color: #444;
  right: 0; }
  .header_btn_lang a:hover {
    background-color: #e9e9e9; }

nav {
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  height: 29px;
  margin-bottom: 4px;
  position: static;
  box-shadow: none;
  display: block;
  font-size: 0.8em;
  z-index: 999;
  background-color: #c33;
  /* level 1 */ }
  nav.sticky_nav {
    -webkit-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    width: inherit;
    height: 28px; }
  nav .nav_caret:after {
    content: "▸";
    float: right;
    margin-right: 10px;
    font-weight: bold; }
  nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    /* level 2 */ }
    nav ul li {
      width: 16%;
      text-indent: 10px; }
      nav ul li a {
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px; }
      nav ul li:hover > ul {
        display: block; }
    nav ul ul {
      -webkit-box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.3);
      border-radius: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      width: 20%;
      z-index: 50;
      display: none;
      /* level 3 */ }
      nav ul ul li {
        float: none;
        position: relative;
        width: 100%; }
        nav ul ul li a {
          padding-top: 10px;
          padding-bottom: 10px;
          text-indent: 10px;
          width: 100%; }
      nav ul ul ul {
        border-radius: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        left: 100%;
        top: 0; }
        nav ul ul ul li {
          position: relative;
          width: 100%; }
          nav ul ul ul li a {
            padding-top: 10px;
            padding-bottom: 10px;
            text-indent: 10px;
            width: 100%; }

footer {
  color: #ccc;
  width: 80%;
  margin: 10px auto 20px;
  font-size: 0.75em;
  text-align: center; }
  footer #social_links {
    margin: 10px;
    text-align: center; }

p {
  font-size: 0.8em;
  margin-bottom: 10px; }

a, a.mem, a.path {
  color: #099;
  text-decoration: none; }
  a:hover, a.mem:hover, a.path:hover {
    color: #066; }
  a img, a.mem img, a.path img {
    border: none;
    display: inline-block; }

input {
  height: 22px;
  text-indent: 20px;
  background: url("/CWS2/Res/img/input.png") no-repeat left 2px center; }
  input:focus, select:focus, textarea:focus {
    color: #333; }
  input.red, input.green, input.yellow {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  input[type="checkbox"], input[type="checkbox"]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid white;
    color: #999;
    padding: 0;
    display: inline-block;
    vertical-align: bottom; }
  input[type="submit"], input[type="submit"]:focus, input[type="submit"]:active {
    cursor: pointer;
    padding: 7px;
    height: auto;
    text-indent: 0;
    background-image: none; }

input[readonly], textarea[readonly], select[disabled],
input[readonly]:focus, textarea[readonly]:focus, select[disabled]:focus {
  color: #999;
  text-indent: 0;
  background: #eee none; }

h1, h2, h3, .title {
  color: #666;
  font-size: 1.4em;
  padding-bottom: 5px;
  background: #eee;
  text-indent: 10px;
  margin: 10px 0;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  h1 .right, h2 .right, h3 .right, .title .right {
    font-size: 0.5em;
    margin-top: 5px;
    margin-right: 5px; }

dl {
  font-size: 0.8em;
  margin-left: -1em; }

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right; }

dd {
  margin: 0 0 0 110px; }

form div, .form div {
  display: inline-block;
  margin: 10px;
  width: 46%;
  vertical-align: top; }
  form div.full_width, .form div.full_width {
    width: 92%; }
    form div.full_width textarea, .form div.full_width textarea {
      max-width: 800px; }
  form div.third, .form div.third {
    width: 30%; }
    form div.third textarea, .form div.third textarea {
      max-width: 250px; }
  form div .list, .form div .list {
    width: 95%; }

label.small {
  display: inline-block;
  font-size: 0.8em !important;
  color: #999;
  cursor: pointer; }

.button, .round-button {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  border: none;
  padding: 5px;
  text-decoration: none;
  font-size: 0.9em;
  border-radius: 1px;
  color: #ccc; }

.round-button {
  border-radius: 18px;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center; }

#notify_container {
  margin-top: -5px;
  margin-bottom: 5px; }
  #notify_container .notify {
    display: block;
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.8em;
    cursor: pointer; }

.faux {
  display: block;
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  border: 1px solid #eee;
  color: #555;
  margin-bottom: 5px;
  overflow-y: hidden;
  overflow-x: hidden; }
  .faux .hover_ico, .faux .hover_ico_info, .faux .hover_ico_warn, .faux .hover_ico_dict {
    margin-top: 10px; }

div.right {
  padding: 5px;
  text-decoration: none;
  font-size: 1.0em; }

.alpha, header .head #head_conscript {
  opacity: 0.5; }
  .alpha:hover, header .head #head_conscript:hover {
    opacity: 1.0; }

.right {
  float: right; }

.left, nav ul li {
  float: left; }

.clear {
  clear: both; }

.sbt {
  display: block;
  font-size: 0.8em;
  color: #999; }

.hover_ico, .hover_ico_info, .hover_ico_warn, .hover_ico_dict {
  display: inline-block;
  max-width: 25px;
  min-width: 25px;
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  z-index: 1; }
  .hover_ico:hover, .hover_ico_info:hover, .hover_ico_warn:hover, .hover_ico_dict:hover {
    z-index: 10; }
    .hover_ico:hover span, .hover_ico_info:hover span, .hover_ico_warn:hover span, .hover_ico_dict:hover span {
      margin: 0;
      display: block;
      font-weight: normal;
      position: absolute;
      text-align: left;
      width: 200px;
      padding: 5px;
      background-color: inherit;
      color: inherit; }
  .hover_ico span, .hover_ico_info span, .hover_ico_warn span, .hover_ico_dict span {
    display: none; }

.hover_ico_info {
  border-color: #acc;
  background-color: #acc;
  color: #066; }
  .hover_ico_info span {
    background-color: inherit;
    color: inherit; }

.hover_ico_warn {
  border-color: #caa;
  background-color: #caa;
  color: #600; }
  .hover_ico_warn span {
    background-color: inherit;
    color: inherit; }

.hover_ico_dict {
  border-color: #ccc;
  background-color: #ccc;
  color: #666; }
  .hover_ico_dict span {
    background-color: inherit;
    color: inherit; }

.small-size, .small_left, .small_right {
  font-size: 0.8em; }

.small_left {
  text-align: left; }

.small_right {
  text-align: right; }

.avatar {
  display: inline-block;
  font-size: 0.75em;
  text-align: left;
  margin-right: 5px; }
  .avatar img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    border: 1px solid #efefef;
    display: block; }

.banner, .banner_success, .banner_err, .banner_warn, .banner_info, .banner_timer {
  width: 90%;
  padding: 5px 10px;
  margin: 10px auto; }
  .banner ul, .banner_success ul, .banner_err ul, .banner_warn ul, .banner_info ul, .banner_timer ul, .banner ol, .banner_success ol, .banner_err ol, .banner_warn ol, .banner_info ol, .banner_timer ol {
    margin: .5em 0; }
  .banner li + li, .banner_success li + li, .banner_err li + li, .banner_warn li + li, .banner_info li + li, .banner_timer li + li {
    padding-top: 2px; }
  .banner div, .banner_success div, .banner_err div, .banner_warn div, .banner_info div, .banner_timer div, .banner span, .banner_success span, .banner_err span, .banner_warn span, .banner_info span, .banner_timer span {
    margin: 3px 0;
    display: inline-block; }
  .banner div.banner_ico, .banner_success div.banner_ico, .banner_err div.banner_ico, .banner_warn div.banner_ico, .banner_info div.banner_ico, .banner_timer div.banner_ico {
    width: 10%;
    vertical-align: middle;
    text-align: center; }
    .banner div.banner_ico span, .banner_success div.banner_ico span, .banner_err div.banner_ico span, .banner_warn div.banner_ico span, .banner_info div.banner_ico span, .banner_timer div.banner_ico span {
      width: 20px;
      height: 20px;
      padding: 2px;
      border-radius: 25px;
      font-weight: bold;
      font-size: 1em; }
  .banner div.banner_text, .banner_success div.banner_text, .banner_err div.banner_text, .banner_warn div.banner_text, .banner_info div.banner_text, .banner_timer div.banner_text {
    width: 89%;
    vertical-align: middle;
    font-size: 0.8em; }

.banner_success {
  background-color: #9d9;
  border-right: 3px solid #6a6;
  border-left: 3px solid #6a6; }
  .banner_success div.banner_ico span {
    border: 3px solid #6a6;
    color: #6a6; }
  .banner_success div.banner_text a {
    color: #060; }

.banner_err {
  background-color: #d99;
  border-right: 3px solid #a66;
  border-left: 3px solid #a66; }
  .banner_err div.banner_ico span {
    border: 3px solid #a66;
    color: #a66; }
  .banner_err div.banner_text a {
    color: #933; }

.banner_warn {
  background-color: #dd9;
  border-right: 3px solid #aa6;
  border-left: 3px solid #aa6; }
  .banner_warn div.banner_ico span {
    border: 3px solid #aa6;
    color: #aa6; }
  .banner_warn div.banner_text a {
    color: #993; }

.banner_info {
  background-color: #9dd;
  border-right: 3px solid #6aa;
  border-left: 3px solid #6aa; }
  .banner_info div.banner_ico span {
    border: 3px solid #6aa;
    color: #6aa; }
  .banner_info div.banner_text a {
    color: #399; }

.banner_timer {
  background-color: #fc9;
  border-right: 3px solid #a60;
  border-left: 3px solid #a60; }
  .banner_timer div.banner_ico span {
    border: 3px solid #a60;
    color: #a60; }
  .banner_timer div.banner_text a {
    color: #963; }

div#prof_avatar_wrapper {
  display: inline-block;
  vertical-align: top;
  margin: 0; }
  div#prof_avatar_wrapper #prof_uname {
    font-size: 1.2em; }
  div#prof_avatar_wrapper #prof_avatar_links {
    display: block; }

/*# sourceMappingURL=main.css.map */
