@charset "utf-8";

@import 'partials/colors';
@import 'partials/mixins';

// basically .contain but without display inline block
#lang-main {
  padding: 10px 10px 0;
  vertical-align: top;
}

div.lang-image {
  display: inline-block;
}

div.lang-names {
  margin-left: 1em;
  display: inline-block;
  vertical-align: top;
  font-size: larger;

  span.lang-name {
    display: block;
    font-size: larger;
    font-weight: bold;
  }

  span.lang-ipa {
    font-size: initial;
    margin-left: .25em;
    color: $weird-black;
  }
}

div.lang-words-and-status {
  display: inline-flex;
  vertical-align: top;
  flex: 0 0 50%;
  margin-left: 20px;

  span.lang-words {
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
    color: $main-bg-color;
    background-color: #c96c21;
    transition:background-color 1s ease-in-out;
    border-radius: 4px;
  }

  span.lang-status {
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
    color: $main-bg-color;
    background-color: #c96c21;
    transition:background-color 1s ease-in-out;
    border-radius: 4px;
  }
}