@charset "utf-8";

@import 'partials/reset';
@import 'partials/colors';
@import 'partials/mixins';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');

/* ========================================================================= */
/*                           MAIN FILE STARTS HERE                           */
/*                  see the main.scss file, it's easier to read.             */
/* ========================================================================= */

$font-stack: 'Noto Sans', 'Helvetica', sans-serif;
$ipa-font-stack: 'Arial', sans-serif;
$font-size: 1em;
$smaller-font-size:  $font-size - .2;
$smaller-font-size2: $smaller-font-size - .05;

body {
  background: #555;
  font-family: $font-stack;
}
.ipa {
  font-family: $ipa-font-stack;
}

.btn, a {
  i.fas, i.far, i.fab {
    margin-right: 0.5em;
  }
}

.notif-bell-link {
  color: #fff;
  opacity: .8;

  &:hover {
    color: #fff;
    opacity: 1;
  }

  .notif-bell {
    font-size: 22px;
    vertical-align: middle;
    position: relative;

    .notif-badge {
      position: absolute;
      font-family: $font-stack;
      display: block;
      top: -9px;
      right: -9px;
      font-size: small;
      color: #fff;
      background: #007bff;
      height: 17px;
      width: 17px;
      line-height: 17px;
      text-align: center;
      vertical-align: middle;
      border-radius: 17px;
    }
  }
}

.notif-inner {
  text-align: center;
  padding: 12px 28px;

  i {
    font-size: 28px;
    color: #333;
  }

  .notif-none-title {
    font-size: large;
    color: #444;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 6px;
  }

  .notif-none-muted {
    color: #777;
    text-align: center;
  }
}

.inline-minicircle {
  display: inline-block;
  height: 19px;
  width: 19px;
  text-align: center;
  border-radius: 10px;
  padding: none;
  border: none;
}

.append-none {
  -webkit-appearance: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.prepend-none {
  -webkit-appearance: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#wlDefinitions {
  padding-left: 1em;
}


.profile-banner {
  height: 190px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/V%C3%A4stg%C3%B6taspets_hane_5_%C3%A5r.jpg/1200px-V%C3%A4stg%C3%B6taspets_hane_5_%C3%A5r.jpg);
  background-size: cover;
  background-position: 50% 30%;
  position: relative;

  .profile-banner-avatar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 994;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: -56px;
      border: 3px solid #fff;
      height: 112px;
      width: 112px;
      border-radius: 56px;
    }
  }
}
.profile-strip {
  display: none;
  background: #eee;
  height: 10px;
}
.profile-info-col {
  padding-top: 65px;
}

@include media-breakpoint-up(md) {
  .profile-banner {
    height: 240px;

    .profile-banner-avatar {
      width: 25vw;
    }
  }
  .profile-strip {
     display: block;
   }
}

.ui-autocomplete {
  list-style-type: none;
  padding: 0;
  background: #fff;
  border: 1px solid #aaa;
  max-height: 320px;
  overflow-y: auto;

  li {
    padding: 4px 8px;

    &.nopick {
      padding: 6px 8px;
      color: #777;

      &:hover {
        background: none;
        color: #777;
      }
    }

    small {
      display: block;
      color: #777;

      .ui-state-active {
        border: none !important;
        background: none !important;
      }
    }

    &:hover {
      background: $new-green;
      color: #fff;

      small {
        color: #eee;
      }
    }
  }
}

.site_main_cont {
  background: #fff;
  box-shadow: 0 0 10px #333;

  .row {
    position: relative;

    .flash_msg {
      position: absolute;
      top: -28px;
      left: 0;
      z-index: 999;
    }
  }
}

.little-label {
  color: #666;
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
}

.formCons, .formVowel {
  display: none;
}

.online_mark {
  background-color: $mute-green;
  height: 7px;
  width: 7px;
  border-radius: 4px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 4px;
}

.karma-arrow-up { color: $new-green; }
.karma-arrow-down { color: $new-red; }

.head-rainbow {
  background-color: #fff;

  .row {
    height: 12px;
    opacity: 0.8;
  }
}

.lang-menu-sect {
  display: table;
  table-layout: fixed;

  .lang-menu-flag {
    display: table-cell;
    width: 60px;
    vertical-align: middle;

    .lang-menu-image {
      width: 60px;
    }
  }
  .lang-menu-other {
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;

    .lang-menu-name {
      display: block;
    }
    .lang-menu-words {
      color: #888;
      display: block;
    }
  }
}

.alert {
  box-shadow: 0 0 8px rgba(28,  28, 28, 0.2);

  .alert-close {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}

.user-wherenow {
  display: inline-block;
  margin-right: 24px;

  .uwn-avatar {
    height: 32px;
    width: 32px;
    margin-right: 8px;
    border-radius: 16px;
    vertical-align: middle;
  }
  .uwn-other {
    display: inline-block;
    vertical-align: middle;

    .uwn-where {
      color: #999;
    }
  }
}

.sidebar {
  position: fixed;
  top: 28vh;
  left: -24px;
  width: 34px;
  z-index: 999;
  opacity: 0.6;
  transition: left .2s ease-in-out;

  &:hover {
    opacity: 1;
    left: 0;
  }

  .side-button {
    color: #fff;
    height: 34px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    position: relative;

    &:first-child {
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
    }

    .side-screen {
      position: absolute;
      top: 2px;
      left: 100%;
      cursor: default;
      display: none;

      .ss-box {
        margin-left: 5px;
        border-radius: 3px;
        width: 80vw;
        position: relative;
        padding: 6px;
      }
    }
  }
}

.profile-sidedata {
  margin-top: 1em;
  margin-bottom: 1em;
}

.faux {
  border: 1px solid #eee;
  margin: 4px;
  padding: 6px 8px;
  border-radius: 4px;
  background: #fafafa;
  color: #333;
}

@include media-breakpoint-up(md) {
  .sidebar .side-button .side-screen .ss-box {
    width: 420px;
  }

  .faux {
    padding: 8px 14px;
  }
}

.footer {
  color: #fff;

  ul li a.nav-link {
    color: #ddd;

    &:hover {
      color: #fff;
    }
  }

  .footer_social {
    .nav-link img {
      border: 2px solid #eee;
      height: 34px;
      width: 34px;
      border-radius: 16px;
      transition: border .1s ease-in-out;

      &:hover {
        height: 34px;
        width: 34px;
        border: 2px solid #999;
      }
    }
  }
}

.nav {
  list-style-type: none;

  .nav_item {
    color: white;

    &:hover {
      color: $darker-white;
      background: none;
      text-decoration: none;
    }
  }

  ul {
    list-style-type: none;
  }
}

// conworkshop logo
.navbar-brand {
  padding-right: 1.5em;
  text-align: right;

  .brand-main {
    font-weight: bold;
  }
  .brand-words {
    font-size: small;
    margin-top: -4px;
    opacity: .8;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.inline_handle {
  display: inline;

  .clan_symbol {
    display: inline-block;
    padding: 2px 4px;
    span {
      display: none;
    }
  }
}

.nav-link-tall {
  display: table-row;
}
.flag_flag {
  display: table-cell;
  vertical-align: middle;
}
.flag_info {
  display: table-cell;
  padding-left: 6px;

  .flag_words {
    font-size: small;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-nav {
    display: table-row;
  }
  .navbar-nav > li {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
  }
}

.dropdown-menu {
  overflow: visible;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: -11px;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

dl {
  dt {
    font-weight: bold;
    color: $basically-black;
  }
}


/* Profile */
.circle-avatar {
  margin-bottom: 12px;
  img {
    width: 120px;
    height: 120px;
    border-radius: 90px;
    border: 4px solid #ddd;
  }
}

.navbar-avatar {
  width: 34px;
  border-radius: 17px;
  border: 2px solid #eee;
  margin-right: 4px;
}


.clan_blob {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}

.clan_square {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  margin-right: 15px;
  font-size: 38px;
}
.clan_title {
  display: inline-block;
  vertical-align: middle;
}


/* Cool forrm input placeholder magick */
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  cursor: text;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
  cursor: default;
}
