@charset "utf-8";

@import 'partials/reset';
@import 'partials/colors';
@import 'partials/mixins';

/* ========================================================================= */
/*                           MAIN FILE STARTS HERE                           */
/*                  see the main.scss file, it's easier to read.             */
/* ========================================================================= */

$font-stack: 'Helvetica', sans-serif;
$font-size: 1em;
$smaller-font-size:  $font-size - .2;
$smaller-font-size2: $smaller-font-size - .05;


body {
  background: #555;
}
.site_main_cont {
  background: #fff;
}
.footer {
  color: #fff;

  ul li a.nav-link {
    color: #ddd;

    &:hover {
      color: #fff;
    }
  }

  .footer_social {
    .nav-link img {
      border: 2px solid #eee;
      height: 34px;
      width: 34px;
      border-radius: 16px;
      transition: border .1s ease-in-out;

      &:hover {
        height: 34px;
        width: 34px;
        border: 2px solid #999;
      }
    }
  }
}

.nav {
  list-style-type: none;

  .nav_item {
    color: white;

    &:hover {
      color: $darker-white;
      background: none;
      text-decoration: none;
    }
  }

  ul {
    list-style-type: none;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.inline_handle {
  display: inline;

  .clan_symbol {
    display: inline-block;
    padding: 2px 4px;
    span {
      display: none;
    }
  }
}


dl {
  dt {
    font-weight: bold;
    color: $basically-black;
  }
}


/* Profile */
.circle-avatar {
  margin-bottom: 12px;
  img {
    width: 120px;
    height: 120px;
    border-radius: 90px;
    border: 4px solid #ddd;
  }
}

.navbar-avatar {
  width: 34px;
  border-radius: 17px;
  border: 2px solid #eee;
  margin-right: 4px;
}


/* Cool forrm input placeholder magick */
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
