@charset "utf-8";

@import 'partials/reset';
@import 'partials/colors';
@import 'partials/mixins';

/* ========================================================================= */
/*                           MAIN FILE STARTS HERE                           */
/*                  see the main.scss file, it's easier to read.             */
/* ========================================================================= */

$font-stack: 'Helvetica', sans-serif;
$font-size: 1em;
$smaller-font-size:  $font-size - .2;
$smaller-font-size2: $smaller-font-size - .05;


.nav {
  list-style-type: none;

  .nav_item {
    color: white;

    &:hover {
      color: $darker-white;
      background: none;
      text-decoration: none;
    }
  }

  ul {
    list-style-type: none;
  }
}
